@import 'tailwindcss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#root > * {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}