/* Tab Layout Styles */
.ant-tabs {
  height: 100%;

  .ant-tabs-content-holder {
    height: 100%;

    .ant-tabs-content {
      height: 100%;
    }

    .ant-tabs-tabpane {
      height: 100%;
    }
  }
}
